<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Список договоров</title>
</head>
<body>
<div th:switch="${agreements}">
    <h2 th:case="null">Договоров пока нет</h2>
    <div th:case="*">
        <h2>Договоры</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>ФИО</th>
                <th>Договор от</th>
                <th>Статус подписания</th>
            </tr>
            </thead>
            <tbidy>
                <tr th:each="agreement : ${agreements}">
                    <td th:text="${agreement.id}"></td>
                    <td th:text="${agreement.name}"></td>
                    <td th:text="${agreement.dateOfAgreement}"></td>
                    <td th:text="${agreement.sign}"></td>
                </tr>
            </tbidy>
        </table>
    </div>
    <p><a href="/">Назад</a></p>
</div>
</body>
</html>