<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Договор</title>
</head>
<body>
<h1>Договор</h1>
<div th:switch="${agreement}">
    <h2 th:case="null">Договоров пока нет</h2>
    <div th:case="*">
        <p>Клиент</p>
        <p th:text="${agreement.name}"></p>
    </div>

    <div th:swith="${agreement.approve}">
    <input th:case="Одобрен" type="submit" th:action="@{/get-sign/{id}(id=${agreement.id})}" value="Подписать договор">
    </div>
</div>
</body>
</html>