<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Договор</title>
</head>
<body>
<h1>Договор</h1>
<br><br><br>
<p>От</p>
<p th:text="${agreement.dateOfAgreement}"></p>
<br>
<p>Клиент</p>
<p th:text="${agreement.name}"></p>
<br>
<p>Паспорт</p>
<p th:text="${agreement.passport}"></p>
<br>
<p>Сумма кредита</p>
<p th:text="${agreement.loanAmount}"></p>
<br>
<p>Сроком на</p>
<p th:text="${agreement.loanMaturity}"></p>
<br>

<br><br><br>
<br><br>
<a th:href="@{do-sign}" method="get">Подписать</a>
</body>
</html>