<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Создать заявку</title>
</head>
<body>
<h1>Оформление заявки</h1>
<form action="#" th:action="@{/create-client-and-application}" th:object="${client}" method="post">
    <label for="name">Введите фамилию, имя и отчество</label>
    <input type="text" th:field="*{name}" id="name" placeholder="ФИО">
    <label for="passport">Паспортные данные</label>
    <input type="text" th:field="*{passport}" id="passport" placeholder="Паспортные данные">
    <label for="maritalStatus">Семейное положение</label>
    <input type="text" th:field="*{maritalStatus}" id="maritalStatus" placeholder="Семейное положение">
    <label for="adress">Адрес прописки</label>
    <input type="text" th:field="*{adress}" id="adress" placeholder="Адрес прописки">
    <label for="contactNumber">Контактный телефон</label>
    <input type="text" th:field="*{contactNumber}" id="contactNumber" placeholder="Контактный телефон">
    <label for="employment">Сведения о занятости</label>
    <p><textarea th:field="*{employment}" name="employment" id="employment" rows="10" cols="150" placeholder="Сведения о занятости"></textarea></p>
    <!--<input type="text" th:field="*{employment}" id="employment" placeholder="Сведения о занятости">-->
    <label for="desiredLoanAmount">Сумма желаемого кредита</label>
    <input type="number" th:field="*{desiredLoanAmount}" id="desiredLoanAmount" placeholder="Сумма желаемого кредита">
    <input type="submit" value="Оформить">
</form>
<p><a href="/">Назад</a></p>
</body>
</html>