<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>АРМ Менеджера</title>
</head>
<body>
<h1>Выберите действие</h1>
<p><form th:action="@{/create-application}" method="post">
    <input type="submit" value="Создать заявку">
    </form></p>
    <!--<p><form><input type="submit" value="Вывести список клиентов" id="showUsers"></form></p>
    <p><form><input type="submit" value="Вывести список заявок" id="showApplications"></form></p>
    <p><form><input type="submit" value="Вывести список договоров" id="showAgreements"></form></p>-->
   <!-- <form>
        <p>Поиск клиента</p>
        <div>
            <input type="radio" id="searchChoice1"
                   name="contact" value="fio">
            <label for="searchChoice1">ФИО</label>
            <input type="radio" id="searchChoice2"
                   name="contact" value="passport">
            <label for="searchChoice2">Паспорт</label>
            <input type="radio" id="searchChoice3"
                   name="contact" value="contactNumber">
            <label for="searchChoice3">Номер телефона</label>
            <input type="text" th:field="" id="search" placeholder="Введите данные для поиска">
            <div>
                <button type="submit">Поиск</button>
            </div>
        </div>
    </form>-->
</body>
</html>