<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>АРМ Менеджера</title>
</head>
<body>
<h1>Выберите действие</h1>
<p><form th:action="@{/create-application}" method="get">
    <input type="submit" value="Создать заявку" id="createApplications">
    </form></p>
<p><form th:action="@{/clients}" method="post">
    <input type="submit" value="Вывести список клиентов" id="showUsers">
    </form></p>
<p><form th:action="@{/applications}" method="get">
    <input type="submit" value="Вывести список заявок" id="showApplications">
    </form></p>
<p><form th:action="@{/agreements}" method="post">
    <input type="submit" value="Вывести список договоров" id="showAgreements">
    </form></p>
<br><br><br>
<form th:action="@{/search-client}" method="get">
    <p>Поиск клиента</p>
    <br>
    <div>
        <input type="radio" id="searchChoice1"
                   th:name="contacte" value="fio">
        <label for="searchChoice1">ФИО</label>
        <input type="radio" id="searchChoice2"
                   th:name="contacte" value="passport">
        <label for="searchChoice2">Паспорт</label>
        <input type="radio" id="searchChoice3"
                   th:name="contacte" value="contactNumber">
        <label for="searchChoice3">Номер телефона</label><br>
        <input type="text" th:name="fielde" id="search" placeholder="Введите данные для поиска">
        <br>
        <div>
            <button type="submit">Поиск</button>
        </div>
    </div>
    <br><br>
    <div th:switch="${client}">
    <h2 th:case="null">Такого клиента нет</h2>
    <div th:case="*">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>ФИО</th>
                <th>Телефон</th>
            </tr>
            </thead>
            <tbidy>
                <tr>
                <td th:text="${client.id}"></td>
                <td th:text="${client.name}"></td>
                <td th:text="${client.contactNumber}"></td>
                </tr>
            </tbidy>
        </table>
    </div>
    <p><a href="/">Назад</a></p>
</div>
</form>
</body>
</html>